<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конец эксперимента</title>
</head>
<body>
Наш эксперимент закончен!

Спасибо за участие!
Свои пожелания, комментарии и вопросы Вы можете направить по электронной почте руководителю проекта профессору Юлии
Грибер по электронному адресу y.griber@gmail.com.
Актуальную информацию об этом и других проектах Лаборатории цвета Вы можете получить на сайте http://color-lab.org.
Исследование выполняется за счет гранта Российского научного фонда No 22-18-00407, https://rscf.ru/project/22-18-00407/
в Смоленском государственном университете.

</body>
</html>