<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Переход к ответам</title>
</head>
<body>
<p>
    Теперь мы будем показывать вам цветовые таблицы, среди которых есть те, которые вы уже видели, и те, что увидите в
    первый раз. Ваша задача – постараться вспомнить, видели вы таблицу или нет, и выбрать нужный ответ. Каждую таблицу
    вы можете рассматривать так долго, сколько хотите. Следующая таблица появится после того, как вы введете свой ответ.
</p>
<a href="{% url "memory_test" next_table member_pk %}">Начать</a>
</body>
</html>