<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Переход к ответам</title>
</head>
<body>
<p>
    Теперь мы будем показывать Вам фотографии, среди которых есть те, которые Вы уже видели, и те, что увидите в первый
    раз. У некоторых фотографий мы изменили цвет. До этого показывали Вам цветными, а сейчас покажем черно-былыми. И
    наоборот. Ваша задача – постараться вспомнить, видели Вы фотографию или нет, и выбрать нужный ответ. Каким был цвет
    при этом неважно. Главное – вспомнить сюжет.
    Каждую фотографию Вы можете рассматривать так долго, сколько хотите. Следующая появится после того, как Вы введете
    свой ответ.

</p>
<a href="{% url "img_test" next_table member_pk %}">Начать</a>
</body>
</html>