<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начать эксперимент с таблицами</title>
</head>
<body>
<form action="{% url "start_test" %}" method="post" enctype="multipart/form-data">
    <p>
        Лаборатория цвета Смоленского государственного университета изучает принципы гармоничной колористики города.
        Мы проводим эксперимент, чтобы проверить, влияет ли цвет на нашу способность запоминать цветовые сочетания. Для
        этого мы покажем вам 17 цветных таблиц, а потом покажем эти же таблицы среди других, очень на них похожих, и
        попросим сказать, какие таблицы мы вам уже показывали, а какие нет.
        Эксперимент продлится не более 15 минут. Если вы согласны, можно начинать.
    </p>
    {% csrf_token %}
    {{ message }}
    <p>
        Имя участника:
        {{ form.name }}
    </p>
    <p>
        Длительность цветовой таблицы в мс:
        {{ form.duration }}
    </p>

    <p><input type="submit" value="Начать эксперимент"/></p>
</form>
</body>
</html>