<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начать эксперимент с картинками</title>
</head>
<body style="background-color: #1b1b1b;color: white">
<form action="{% url "start_img" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ message }}
    <p>
        Имя участника:
        {{ form.name }}
    </p>
    <p>
        Длительность цветовой таблицы в мс:
        {{ form.duration }}
    </p>
    <p>
        Показать первую часть:
        {{ form.show_first }}
    </p>

    <p><input type="submit" value="Начать эксперимент"/></p>
</form>
</body>
</html>