<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начать эксперимент с картинками</title>
</head>
<body>
<form action="{% url "start_img" %}" method="post" enctype="multipart/form-data">
    <p>
        Лаборатория цвета Смоленского государственного университета изучает влияние цвета на внимание и память. Для
        этого мы проводим эксперимент, в котором приглашаем Вас принять участие.
        Мы покажем Вам 36 фотографий. Часть из них – цветные, вторая часть – черно-белые. Фотографии будут сменять друг
        друга достаточно быстро. Ваша задача – внимательно смотреть и запоминать. Когда презентация закончится, мы
        покажем Вам эти же фотографии среди других, очень на них похожих, и попросим определить, какие снимки мы Вам уже
        показывали, а какие нет.
        Эксперимент продлится не более 15 минут. Если вы согласны, можно начинать.
        Смотрите внимательно и запоминайте!
    </p>
    {% csrf_token %}
    {{ message }}
    <p>
        Имя участника:
        {{ form.name }}
    </p>
    <p>
        Длительность цветовой таблицы в мс:
        {{ form.duration }}
    </p>

    <p><input type="submit" value="Начать эксперимент"/></p>
</form>
</body>
</html>